<b:style src="./layout.css" xmlns:b="http://www.w3.org/1999/xhtml"/>
<b:isolate/>

<div>
    <h1>
        Timesheet
        <small> powered by basis.js</small>
    </h1>

    <div class="jumbotron text-center" b:hide="{active}">

        <!--{login}-->

    </div>

    <div b:show="{active}">

        You are logged in as <strong>{user}</strong> <button class="btn btn-primary btn-lg pull-right" event-click="logout">выйти</button>

        <hr>

        <!--{menu}-->


        <!--{page}-->


        <hr>
    </div>
</div>
